
.formulario{
    height: 650px;
    width: 865px;
    margin: 50px auto;
    border: 4px solid #c0392b;
    margin-top: 50px;
  
}

.datos{
    padding: 12px;
    outline: none;
    margin: 8px 0 0 15px;
    width: 191px;
    border: solid #b2bec3;
    text-align: center; 
    
}

.correo{
    padding: 10px;
    outline: none;
    margin: 7px 0 0 20px;
    width: 818px;
    text-align: center;
    border: solid #b2bec3;
}

.pw{
    padding: 10px;
    outline: none;
    margin: 7px 0 0 20px;
    width: 281px; 
    text-align: center;
    border: solid #b2bec3;

}

.d-p{
    padding: 10px;
    outline: none;
    margin: 8px 0 0 21px;
    width: 192px;
    text-align: center; 
    margin-left: 35px;
    border: solid #b2bec3;
    
}

.boton{
    margin: 20px 0 0 42%;
    cursor: pointer;
    height: 40px;
    width: 102px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    outline: none;
    margin-top: 5px;

}

#sexo{
    margin: -20px 0 0 20px;
    margin-top: 5px;

}

#sexo label{
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: -10px;
    font-size: 20px;
    font-family: sans-serif;
}

input::placeholder{
    font-family: sans-serif;
    color: #2d3436;
}

input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus,input[type="tel"]:focus,input[type="date"]:focus{
    border: 2px solid #d63031;
    border-radius: 15px 15px 15px 15px;
}

.ch{
    margin-top: 40px;
    margin-left: 220px;
    
}

.ck{
    margin-left: 120px;
}

.label{
    font-family: sans-serif;
    font-size: 20px;
    margin-left: 25px;
}

.radio{
    margin-left: 200px;
    margin-top: -25px;
}

.alert{
    position: absolute;
    margin-top: -750px;
    right: -980px;
    width: 28%;
    
}

.Dep{
    margin-left: 500px;
    margin-top: -40px;
}

#text{
    height: 80px;
    width: 300px;
}

.condicion{
    margin-left: 500px;
    margin-top: -30px;
}

#ter{
    margin-top: 10px;
}

.gustos{
    margin-top: -50px;
    margin-left: 50px;
}
    
